body {
    background: #faeae2;
    margin: 20px;
}
div.gallery {
    margin: 50px;
    border: .5px solid #980b36;
    float: left;
    width: 250px;
    height: 300px;
}
  
div.gallery:hover {
    border: 6px solid  #980b36;
}
  
div.gallery img {
    width: 100%;
    height: 125px;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}


